/* header Navbar styling here. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Times, serif;
}
.header{
    z-index: 1;
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    align-content: center;
}
.main-heading{
    color: blueviolet;
    margin-left: 5px;
}
.span-head{
    color: aqua;
}

.navbar ul{
    /* margin-right: 50px; */
    display: flex;
    justify-content: end;
    gap: 50px;
    position: relative;
    bottom: 20px;
    list-style: none;
}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
a:hover{
    border-radius: 5px;
    box-shadow: 2px 3px 4px 5px white;
}

/* cards styling here. */
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 80px;
}
.card-item{
    background-color: seagreen;
    border-radius: 10px;
}
.card-content{
    padding: 10px;
}
.card-image{
    transform: skew(1deg);
    height: 300px;
    width: 300px;
    padding: 10px;
}
.name{
    font-size: 25px;
    margin-left: 5px;
    font-family: sans-serif;
}
.role{
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
}
.discription{
    color: azure;
    line-height: 1.5;
    margin-left: 5px;
}
.card-but{
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: black;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}
.card-but:hover{
    background-color: black;
    color: white;
    border-radius: 12px;
    box-shadow: 1px 2px 2px 3px white;
}
/* image-gallery */
.hallery-heading{
    font-size: 36px;
}
.image-gallery{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    padding: 10px;
}
.image-gallery img{
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.image-gallery img:hover{
    transform: scale(1.2);
}

/* form styling here. */
form{
    position: absolute;
    left: 362px;
    margin-top: 20px;
    padding: 80px;
    background-color: blueviolet;
}

.but-sign{
    position: relative;
    left: 380px;
    bottom: 60px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    background-color: azure;
    color: black;
    border-radius: 5px;
}

.but-sign:hover{
    padding-left: 6px;
    padding-right: 6px;
    color: azure;
    background-color: black;
    box-shadow: 1px 2px 2px 3px white;
}

.login-heading{
    position: relative;
    bottom: 70px;
    text-align: center;
    font-size: 36px;
}

.input{
    padding: 20px;
    position: relative;
    bottom: 80px;
}

.input-type{
    background-color: white;
    color: black;
    padding-right: 5px;
    padding-right: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resert-but{
    font-size: 16px;
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    background-color: azure;
    color: black;
    border-radius: 5px;
}

.resert-but:hover{
    padding-left: 9px;
    padding-right: 9px;
    color: azure;
    background-color: black;
    box-shadow: 1px 2px 2px 3px white;
}

/* display inline block inline block element styling here. */
.one-div{
    display: inline;
    height: 100px;
    width: 100px;
    background-color: red;
}
.tow-div{
    display: block;
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}
.three-div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.four-div{
    /* display: none; */
    height: 100px;
    width: 100px;
    background-color: blue;
}
.four-div:hover{
    background-color: yellow;
}

