/* Navbar styling here. */
.navbar ul{
    display: flex;
    position: sticky;
    top: 5px;
    gap: 20px;
}
/* cards styling here. */
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    background-color: seagreen;
}
.card-image{
    transform: skew(1deg);
    height: 300px;
    width: 300px;
    padding: 10px;
}
.name{
    font-size: 25px;
    margin-left: 5px;
    font-family: sans-serif;
}
.role{
    font-size: 16px;
    margin-left: 5px;
    font-family: sans-serif;
}
.discription{
    color: azure;
    line-height: 1.5;
    margin-left: 5px;
}
.card-but{
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: black;
    background-color: blueviolet;
    font-size: 18px;
}
.card-but:hover{
    background-color: black;
    color: white;
    border-radius: 8px;
}
/* display inline block inline block element styling here. */
.one-div{
    display: inline;
    height: 100px;
    width: 100px;
    background-color: red;
}
.tow-div{
    display: block;
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
}
.three-div{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: aqua;
}
.four-div{
    /* display: none; */
    height: 100px;
    width: 100px;
    background-color: blue;
}
.four-div:hover{
    background-color: yellow;
}

