*{
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 16;
    font-family: sans-serif;
}
.container{
    margin-inline: 2rem;
    display: grid;
    gap: 1.5rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin-inline: auto;
}

h1{
    text-align: center;
    text-shadow: 7px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}

.box-item{
    min-height: 200px;
    color: white;
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.box-one{
    background-color: blueviolet;
}
.box-tow{
    background-color: brown;
}
.box-three{
    background-color: cadetblue;
}
.box-four{
    background-color: burlywood;
}
.box-five{
    background-color: deeppink;
}

@media (min-width: 600px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    .box-item{
        min-height: 300px;
    }
    .box-one, .box-five{
        grid-column-start: span 2;
    }
    .box-three{
        grid-row-start: span 2;
    }
}

@media (min-width: 1000px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}